@page
@model FileServerManagementWepApp.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ویرایش فایل</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblFile.Id" />
            <input type="hidden" asp-for="TblFile.IsComplete" />
            <input type="hidden" asp-for="TblFile.Extention" />
            <input type="hidden" asp-for="TblFile.Size" />
            <input type="hidden" asp-for="TblFile.CreatedDate" />
            <input type="hidden" asp-for="TblFile.ServerId" />
            <input type="hidden" asp-for="TblFile.Name" />
            <div class="form-group">
                <label asp-for="TblFile.System" class="control-label">سیستم</label>
                <input asp-for="TblFile.System" class="form-control" />
                <span asp-validation-for="TblFile.System" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.SubSystem" class="control-label">زیرسیستم</label>
                <input asp-for="TblFile.SubSystem" class="form-control" />
                <span asp-validation-for="TblFile.SubSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Record" class="control-label">رکورد</label>
                <input asp-for="TblFile.Record" class="form-control" />
                <span asp-validation-for="TblFile.Record" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Description" class="control-label">توضیحات</label>
                <input asp-for="TblFile.Description" class="form-control" />
                <span asp-validation-for="TblFile.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    وضعیت فعال
                    <input class="form-check-input" asp-for="TblFile.Active" />
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    وضعیت حذف
                    <input class="form-check-input" asp-for="TblFile.IsDeleted" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Extention" class="control-label">فرمت فایل</label>
                <input asp-for="TblFile.Extention" class="form-control" disabled />
                <span asp-validation-for="TblFile.Extention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Size" class="control-label">حجم فایل</label>
                <input asp-for="TblFile.Size" class="form-control" disabled />
                <span asp-validation-for="TblFile.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.CreatedDate" class="control-label">تاریخ ایجاد</label>
                <input asp-for="TblFile.CreatedDate" class="form-control" disabled />
                <span asp-validation-for="TblFile.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.ServerId" class="control-label">آدرس سرور</label>
                <select asp-for="TblFile.ServerId" class="form-control" asp-items="ViewBag.ServerId" disabled></select>
                <span asp-validation-for="TblFile.ServerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Name" class="control-label">نام فایل</label>
                <input asp-for="TblFile.Name" class="form-control" disabled />
                <span asp-validation-for="TblFile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page-handler="Remove" asp-route-id="@Model.TblFile.Id" asp-route-serverId="@Model.TblFile.ServerId" asp-route-ext="@Model.TblFile.Extention" asp-route-name="@Model.TblFile.Name">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
